---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="px-1 pt-2">
    <p class="text-2xl font-semibold pb-1">About Me</p>
    <p class="text-xl pb-2">I'm Evan, a Senior Computer Engineering student at <Link href="https://mun.ca">Memorial University of Newfoundland</Link>. I am also the Electrical Lead for <Link href="https://easternedgerobotics.com">Eastern Edge Robotics</Link>, and
    a Software Member of Memorial Medtech.</p>
    <p class="text-xl pb-2">This year, Eastern Edge competed at the <Link href="https://materovcompetition.org">MATE ROV World Championship</Link> here in St. John's, and Memorial Medtech competed in the True North Biomedical Competition at Western University in
    London, Ontario. Both teams placed first overall!</p>
    <p class="text-xl pb-2">In my free time, I work on other projects. One of them is <Link href="https://claretformun.com">Claret</Link>, a schedule builder designed for Memorial University students written in Go and React. I am also working on
    another project: TASNot, an STM32-based board designed to perform tool-assisted speedruns on real hardware, including the NES and Sega Genesis.</p>
    <p class="text-xl">You can see more about my projects <Link href="/projects">here</Link>.</p>

    <p class="text-xl font-semibold pb-1 pt-4">Contacts</p>
    <p class="text-xl">Want to reach out? Feel free to use any of the following:</p>
    <div class="flex flex-col md:flex-row items-start gap-2">
      <Link className="text-xl" href="https://github.com/evaan">github/evaan</Link>
      <Link className="text-xl" href="https://www.linkedin.com/in/evan-whelan-">linkedin/evan-whelan</Link>
      <button type="button" id="open-email" class="cursor-pointer text-xl">email</button>
      <Link className="text-xl" href="/resume.pdf">resume</Link>
    </div>
  </div>

  <script is:inline>
    const emailButton = document.getElementById("open-email");
    //try and avoid email spam
    const parts = ["ZXB3aGVs", "YW5AbXVu", "LmNh"];
    const email = atob(parts.join(""));    
    if (emailButton) {
      emailButton.textContent = email;
      emailButton.addEventListener("click", () => {
        window.location.href=`mailto:${email}`;
      });
    }
  </script>
</Layout>