---
import Layout from "../layouts/Layout.astro";

import CodeXMLIcon from "lucide-static/icons/code-xml.svg";
import HardDriveIcon from "lucide-static/icons/hard-drive.svg";
import GlobeIcon from "lucide-static/icons/globe.svg";

import GitHubIcon from "simple-icons/icons/github.svg";
import LinkedInIcon from "simple-icons/icons/linkedin.svg";
import DiscordIcon from "simple-icons/icons/discord.svg";
---

<Layout title="">
  <p class="text-4xl mb-2">About Me</p>
  <p class="text-xl indent-4 mb-2">
    Hi, I'm Evan, a Computer Engineering student at <a href="https://mun.ca" target="_blank">Memorial University of Newfoundland</a>,
    I am the Software Co-Lead for <a href="https://easternedgerobotics.com" target="_blank">Eastern Edge Robotics</a>,
    a team competing in the <a href="https://materovcompetition.org/" target="_blank">MATE ROV Competition</a>. This June, Eastern Edge is travelling to Alpena, Michigan!
  </p>
  <p class="text-xl indent-4 mb-2">In my spare time, I like to work on projects such as <a href="https://claretformun.com" target="_blank">Claret</a>,
  an easy-to-use schedule builder for Memorial University students. I love to hear suggestions regarding Claret, so if you have one be sure to let me know!
  I also enjoy collecting vinyl and have published <a href="/hobbies/vinyl">a list the of records I own</a>. Additionally, I manage a homelab,
  which I've recently migrated to NixOS. I've written a blog post about my experience, which you can find <a href="/posts/nixmigration">here</a>.</p>
  <p class="text-xl mb-4 indent-4">You can explore more of my work <a href="/projects">here</a>.</p>
  <p class="text-4xl mb-2">Skills</p>
  <div class="w-full">
    <div class="flex justify-center md:justify-normal items-center mb-2">
      <CodeXMLIcon class="h-6 w-6" />
      <p class="text-lg ml-2">Go, Rust, TypeScript, C++, C, SQL, Java</p>
    </div>
    <div class="flex justify-center md:justify-normal items-center mb-2">
      <HardDriveIcon class="h-6 w-6" />
      <p class="text-lg ml-2">Linux, Docker, Nix, Puppet, ROS 2</p>
    </div>
    <div class="flex justify-center md:justify-normal items-center mb-2">
      <GlobeIcon class="h-6 w-6" />
      <p class="text-lg ml-2">React, Astro, HTML, CSS, JavaScript</p>
    </div>
  </div>
  <p class="text-4xl mb-2">Contact Me</p>
  <div class="fill-neutral-200 *:text-lg *:mb-1 *:flex *:items-center *:w-fit *:p-0.5 flex flex-col items-center sm:items-start">
    <a href="https://github.com/evaan"><GitHubIcon class="mr-0.5 h-6 w-6" />/evaan</a>
    <a href="https://linkedin.com/in/evan-whelan-/"><LinkedInIcon class="mr-0.5 h-6 w-6" />/evan-whelan-</a>
    <p><DiscordIcon class="mr-0.5 h-6 w-6" />/evaandev</p>
  </div>
</Layout>