---
import Layout from "../layouts/Layout.astro"
import { siDiscord, siGithub, siLinkedin, siSpotify } from "simple-icons";
---

<Layout title="Evan Whelan">
    <div class="my-10">
        <p class="text-3xl mb-1 font-medium">hi, i'm evan.</p>
        <p class="text-lg indent-4">I'm a Term 3 Computer Engineering Student at <a href="https://mun.ca" target="_blank">Memorial University of Newfoundland</a>,
            Software Co-Lead at <a href="https://easternedgerobotics.com" target="_blank">Eastern Edge Robotics</a>, which competes annually <a href="https://materovcompetition.org/" target="_blank">MATE ROV Competition</a> each year.
            This June, our team will be heading to Alpena, Michigan!</p>
        <p class="text-lg indent-4">In my free time, I work on several personal projects, including <a href="https://claretformun.com" target="_blank">Claret</a>, a schedule builder tailored for Memorial University students,
            and <a href="https://github.com/evaan/invengory" target="_blank">invengory</a>, a straightforward inventory management system. Both projects are developed using Go and React.

        </p>
        <p class="text-lg mb-4 indent-4">You can explore more of my work <a href="/projects">here</a>.</p>
        <p class="text-3xl mb-1 font-medium">skills i've used in projects</p>
        <div class="mb-4">
            <div class="flex items-center mb-2">
                <i data-lucide="code-2" />
                <p class="text-xl ml-2">Go, TypeScript, C++, Python, SQL, Java</p>
            </div>
            <div class="flex items-center mb-2">
                <i data-lucide="globe-2" />
                <p class="text-xl ml-2">React, HTML, CSS, JavaScript</p>
            </div>
            <div class="flex items-center mb-2">
                <i data-lucide="hard-drive" />
                <p class="text-xl ml-2">Linux, Docker, ROS</p>
            </div>
        </div>
        <p class="text-3xl mb-1 font-medium hidden" id="disc-label">current activity</p>
        <div class="items-center mb-4 hidden" id="disc">
            <img id="disc-image" alt="Activity Icon" class="mr-2 h-24 max-w-24 rounded-lg hidden" />
            <div class="items-center">
                <div class="flex items-center">
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" class="fill-[#1DB954] mr-1" id="disc-spotify"><path d={siSpotify.path}/></svg> 
                    <p class="text-xl font-bold" id="disc-name"></p>
                </div>
                <p class="text-lg" id="disc-details"></p>
                <p class="text-lg" id="disc-state"></p>
            </div>
        </div>
        <p class="text-3xl mb-1 font-medium">contact me</p>
        <div class="flex mb-2">
            <a class="group flex items-center p-1" href="https://github.com/evaan" target="_blank">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="mr-0.5 fill-blue-300  group-hover:fill-neutral-800"><path d={siGithub.path}/></svg> 
                <p class="text-2xl leading-none">/evaan</p>
            </a>
        </div>
        <div class="flex mb-2">
            <a class="group flex items-center p-1" href="https://linkedin.com/in/evan-whelan-/" target="_blank">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="mr-0.5 fill-blue-300  group-hover:fill-neutral-800"><path d={siLinkedin.path}/></svg> 
                <p class="text-2xl leading-none">/evan-whelan-</p>
            </a>
        </div>
        <div class="flex items-center">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" class="fill-neutral-200 mr-0.5"><path d={siDiscord.path}/></svg> 
            <p class="text-2xl leading-none">/evaandev</p>
        </div>
    </div>
    <script>
        import { createIcons, Code2, Globe2, HardDrive } from 'lucide';
        createIcons({
            icons: {
                Code2,
                Globe2,
                HardDrive
            }
        });
    </script>
    <!-- <script>
        let hidden = true;
        let spotify = false;
        let name = "";
        let details = "";
        let state = "";
        let image = "";

        await fetch("https://api.lanyard.rest/v1/users/790703402388684830").then(response => response.json()).then(data => {
            if (data["data"]["activities"].length > 0) {
                const activities = data["data"]["activities"].filter((status: { [x: string]: string | string[]; }) => status["id"] !== "custom" && !status["id"].includes("spotify")).concat(data["data"]["activities"].filter((status: { [x: string]: string | string[]; }) => status["id"].includes("spotify")));
                activities.forEach((element: { [x: string]: { [x: string]: any; }; }) => {
                    if (!hidden) return;
                    hidden = false;
                    if (element["id"].includes("spotify")) {
                        spotify = true;
                        image = data["data"]["spotify"]["album_art_url"];
                        name = data["data"]["spotify"]["song"];
                        details = `by ${data["data"]["spotify"]["artist"]}`;
                        state = `on ${data["data"]["spotify"]["album"]}`;

                    } else {
                        name = `${element["name"]}`
                        if (element["details"] !== undefined) details = `${element["details"]}`;
                        if (element["state"] !== undefined) state = `${element["state"]}`;
                        if (element["assets"]["large_image"] !== undefined) image = `https://cdn.discordapp.com/app-assets/${element["application_id"]}/${element["assets"]["large_image"]}.png`;
                    }
                });
            }
        });

        (document.getElementById("disc-image")! as HTMLImageElement).src = image;
        document.getElementById("disc-image")!.style.display = image.length == 0 ? "flex" : "block";
        document.getElementById("disc-label")!.style.display = hidden ? "none" : "flex";
        document.getElementById("disc-name")!.textContent = name;
        document.getElementById("disc-details")!.textContent = details;
        document.getElementById("disc-state")!.textContent = state;
        document.getElementById("disc-spotify")!.style.display = spotify ? "flex" : "none";
        document.getElementById("disc")!.style.display = hidden ? "none" : "flex";
    </script> -->
</Layout>
