---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evan Whelan - Interests">
    <div>
        <p class="text-3xl mb-1 font-medium">Random Stuff I Do For Fun</p>
        <p><a href="/interests/vinyl" class="text-2xl">My Vinyl Collection</a></p>
    </div>
</Layout>