---
import RSSIcon from "simple-icons/icons/rss.svg"
import Layout from "../layouts/Layout.astro"

const posts = await Astro.glob("./posts/*.mdx")
---

<Layout title="Blog Posts">
    <div class="flex items-center justify-center md:justify-start">
        <p class="text-4xl mb-2">
            My Blog Posts
        </p>
        <a class="hover:bg-blue-300 active:bg-blue-300 ml-2 p-1" href="/posts/rss.xml">
            <RSSIcon class="h-6 w-6" />
        </a>
    </div>

    <div class="flex flex-col">
        {posts.sort((a: { frontmatter: { pubDate: any } }, b: { frontmatter: { pubDate: string } }) => b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate)).map((post: { url: string | URL | null | undefined; frontmatter: { title: unknown; pubDate: unknown } }) =>
            <a class=" my-1 p-0.5 w-fit text-xl" href={post.url}>
                {post.frontmatter.title} - {post.frontmatter.pubDate}
            </a>
        )}
    </div>
</Layout>