---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Link from "../components/Link.astro";

import GoIcon from "simple-icons/icons/go.svg";
import ReactIcon from "simple-icons/icons/react.svg";
import DockerIcon from "simple-icons/icons/docker.svg";
import PostgresIcon from "simple-icons/icons/postgresql.svg";
import RedisIcon from "simple-icons/icons/redis.svg";
import CPlusPlusIcon from "simple-icons/icons/cplusplus.svg";
import CIcon from "simple-icons/icons/c.svg";
import AstroIcon from "simple-icons/icons/astro.svg";
import ROSIcon from "simple-icons/icons/ros.svg";
import TypeScriptIcon from "simple-icons/icons/typescript.svg";
import NixIcon from "simple-icons/icons/nixos.svg";
import DebianIcon from "simple-icons/icons/debian.svg";
import LinuxIcon from "simple-icons/icons/linux.svg";
---

<Layout title="Projects">
    <p class="text-4xl">Projects</p>
    <div class="mb-1">
        <p class="text-lg md:inline">You can find a full list of my projects <a href="https://github.com/evaan" target="_blank">on my GitHub</a>.</p>
        <p class="text-lg hidden md:inline">Hover over each icon to reveal its name.</p>
    </div>
    <Project name="Claret">
        <Fragment slot="icons">
            <GoIcon />
            <ReactIcon />
            <TypeScriptIcon />
            <DockerIcon />
            <PostgresIcon />
            <RedisIcon /> 
        </Fragment>
        <Fragment slot="description">
            Claret is a schedule-building tool tailored for Memorial University students,
            providing an easy-to-use solution for picking courses. It houses several extra features,
            such as calendar integration and easy schedule sharing. 
        </Fragment>
        <Fragment slot="links">
            <Link url="https://github.com/evaan/Claret" label="evaan/Claret" github />
            <Link url="https://claretformun.com" label="ClaretForMUN.com" />
        </Fragment>
    </Project>
    <Project name="Eastern Edge Robotics">
        <Fragment slot="icons">
            <CPlusPlusIcon />
            <ROSIcon />
            <DockerIcon />
            <CIcon />
            <ReactIcon />
            <AstroIcon />
        </Fragment>
        <Fragment slot="description">
            This year, I developed custom firmware for a Raspberry Pi Pico to control thrusters and tooling.
            A custom GUI was written using C++ and <a href="https://github.com/ocornut/imgui" target="_blank">ImGui</a>,
            which allows for easy driving and controls, with communications using ROS 2.<br/>
            I also contributed to last year's software, which used React GUI and ROS 2.<br/>
            Alongside the ROV, I have worked on Jonesy, the
            <a href="https://20693798.fs1.hubspotusercontent-na1.net/hubfs/20693798/2025%20MATE%20Floats%20Preview%20Mission_EXPLORER_FINAL.pdf" target="_blank">vertical profiler</a>,
            which competed last year, and a modified version will return this year.<br/>
            I have also helped recreate the Eastern Edge website using Astro.<br/>
        </Fragment>
        <Fragment slot="links">
            <Link url="https://github.com/EasternEdgeRobotics/Software_2025" label="EER/Software_2025" github />
            <Link url="https://github.com/evaan/Jonesy" label="evaan/Jonesy" github />
            <Link url="https://easternedgerobotics.com" label="EasternEdgeRobotics.com" />
        </Fragment>
    </Project>
    <Project name="Homelab">
        <Fragment slot="icons">
            <NixIcon />
            <DebianIcon />
            <DockerIcon />
            <LinuxIcon />
        </Fragment>
        <Fragment slot="description">
            I have built a homelab, primarily running NixOS, that manages a range services, including media and game servers, as well as backups hosting.
        </Fragment>
        <Fragment slot="links">
            <Link url="https://github.com/evaan/homelab" label="evaan/homelab" github />
        </Fragment>
    </Project>
    <p class="text-3xl">Other Projects</p>
    <p class="text-md"><a href="https://github.com/evaan/Frostburn" target="_blank">Frostburn</a> - A utility mod for Minecraft 1.17.1, built using the Fabric modding API.</p>
    <p class="text-md"><a href="https://github.com/evaan/HuskyExplorer2023" target="_blank">
        Husky Explorer (2023)</a> - The software for our high school team's ROV at the 2023 MATE World Championship in Longmont, Colorado (Ranger class).
    </p>
</Layout>