---
import LinkIcon from "lucide-static/icons/link.svg";
import GitHubIcon from "simple-icons/icons/github.svg";

const {label, url, github} = Astro.props;
---

<a class="flex p-0.5 items-center" href={url} target="_blank">
    { !github &&
        <LinkIcon class="w-6 h-6 stroke-current fill-none" />
    }
    { github &&
        <GitHubIcon class={"mr-0.5 w-6 h-6"} />
    }
    <p class={"text-lg"}>/{label}</p>
</a>