---
const {name} = Astro.props;
---

<div class="mb-2">
    <div class="block md:flex items-center fill-neutral-200 mb-1">
        <p class="text-3xl md:flex text-center justify-center md:justify-start w-full items-center md:text-left">
            {name}
            <span class=`flex justify-center md:justify-start md:ml-2 gap-1 *:w-6 *:h-6 md:*:top-0.5 md:*:relative`>
                <slot name="icons" />
            </span>
        </p>
    </div>
    <p class="text-lg">
        <slot name="description" />
    </p>
    <div class="flex flex-col *:w-fit items-center md:items-start md:justify-start md:flex-row gap-0.5 mt-1 mb-4">
        <slot name="links" />
    </div>
</div>