<div class="flex justify-between items-center flex-col md:flex-row *:py-1 *:text-neutral-200 *:hover:text-zinc-900 *:hover:bg-neutral-200 pt-2 *:px-1 pb-0 md:pb-2">
  <a href="/" class="text-3xl font-semibold">Evan Whelan</a>
  <a href="/projects" class="text-3xl">Projects</a>
  <a href="/vinyl" class="text-3xl">Vinyl</a>
  <a href="/blog" class="text-3xl">Blog</a>
</div>
