---
interface Props {
  href: string;
  className?: string
}

const { href, className } = Astro.props;
const external = href.startsWith("http");
---

<a href={href} target={external ? "_blank" : undefined} rel={external ? "noopener noreferrer" : undefined} class={className}>
  <slot />
</a>