---
import Layout from "../../layouts/Layout.astro";
import albums from "./_vinyl.json";
---

<Layout title="Evan Whelan - Vinyl Collection">
    <div class="flex justify-center w-full">
        <div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-6">
                {albums.slice().reverse().map((album) => (
                    <div class="flex flex-col items-center p-4">
                        <img src={album.cover} alt={album.title} class="w-full h-auto rounded-lg shadow-lg object-cover" />
                        <p class="mt-2 text-center">{album.title}</p>
                        <p class="text-center">{album.artist}</p>
                    </div>
                ))}
            </div>
        </div>
    </div>
</Layout>