---
import "@fontsource/mulish";
import Snowflake from "../components/Snowflake.astro";

import "../styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>Evan Whelan{title == "" ? "" : " - " + title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://avatars.githubusercontent.com/u/41494790?v=4">
    <!-- TODO: meta tags for embed and maybe seo if thats a thing -->
  </head>
  <body class="md:flex min-h-screen justify-center bg-neutral-800 text-neutral-200 font-mulish overflow-x-hidden px-2">
    <Snowflake />
    <!-- TODO: mobile navbar -->
    <!-- TODO: make this stay in the middle of the screen -->
    <div class="block md:hidden mt-2 text-center *:no-underline *:text-neutral-200 *:bg-neutral-800 *:hover:text-neutral-800 *:active:text-neutral-800 *:hover:bg-neutral-200 *:active:bg-neutral-200">
      <a href="/" class="text-3xl p-1">Evan Whelan</a>
      <div class="flex justify-evenly gap-1 *:no-underline *:text-neutral-200 *:bg-neutral-800 *:hover:text-neutral-800 *:active:text-neutral-800 *:hover:bg-neutral-200 *:active:bg-neutral-200">
        <a href="/projects" class="text-xl w-full p-1">Projects</a>
        <a href="/posts" class="text-xl w-full p-1">Blog</a>
        <a href="/hobbies" class="text-xl w-full p-1">Hobbies</a>
      </div>
    </div>
    <div class="md:grid grid-cols-17 w-full max-w-[92rem] gap-8">
      <div class="col-span-4 h-screen hidden md:flex flex-col justify-center *:no-underline *:text-neutral-200 *:bg-neutral-800 *:hover:text-neutral-800 *:active:text-neutral-800 *:hover:bg-neutral-200 *:active:bg-neutral-200">
        <a href="/" class="text-5xl p-1">Evan Whelan</a>
        <a href="/projects" class="text-2xl w-full p-1">Projects</a>
        <a href="/posts" class="text-2xl w-full p-1">Blog</a>
        <a href="/hobbies" class="text-2xl w-full p-1">Hobbies</a>
      </div>
      <div class="col-span-9 flex w-full items-center text-center md:text-left py-5">
        <div class="w-full">
          <slot />
        </div>
      </div>
      <div class="hidden md:block col-span-4" />
    </div>
  </body>
</html>