---
import '@fontsource-variable/inter'

interface Props {
    title: string;
}
const { title } = Astro.props 
---

<html lang="en">
    <head>
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style is:global>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;

            @layer base {
                body {
                    @apply bg-neutral-800;
                    @apply text-neutral-200;
                    @apply font-inter;
                }
                a {
                    @apply text-blue-300;
                    @apply transition;
                    @apply duration-200;
                }
                a:hover {
                    @apply text-blue-100;
                }
            }
        </style>
    </head>
    <body>
        <div class="flex justify-center">
            <div class="sm:grid sm:grid-cols-3 w-4/5 gap-3 h-screen">
                <!-- desktop navbar -->
                <div class="hidden md:flex items-center justify-center h-full">
                    <div>
                        <a class="group flex items-center transition duration-200 hover:bg-neutral-200 p-1" href="/">
                            <p class="text-6xl text-neutral-200 group-hover:text-neutral-800 font-bold transition duration-200">evan whelan</p>
                        </a>
                        <a class="group flex items-center transition duration-200 hover:bg-neutral-200 p-1" href="/projects">
                            <p class="text-3xl text-neutral-200 group-hover:text-neutral-800 transition duration-200">projects</p>
                        </a>
                        <a class="group flex items-center transition duration-200 hover:bg-neutral-200 p-1" href="/blog">
                            <p class="text-3xl text-neutral-200 group-hover:text-neutral-800 transition duration-200">blog</p>
                        </a>
                    </div>
                </div>
                <!-- mobile navbar -->
                <div class="md:hidden flex justify-evenly my-2">
                    <a class="group flex items-center transition duration-200 hover:bg-neutral-200 mr-2" href="/">
                        <p class="text-xl text-center text-neutral-200 group-hover:text-neutral-800 font-bold transition duration-200">evan whelan</p>
                    </a>
                    <a class="group flex items-center transition duration-200 hover:bg-neutral-200 mr-2" href="/projects">
                        <p class="text-xl text-center text-neutral-200 group-hover:text-neutral-800 transition duration-200">projects</p>
                    </a>
                    <a class="group flex items-center transition duration-200 hover:bg-neutral-200" href="/blog">
                        <p class="text-xl text-center text-neutral-200 group-hover:text-neutral-800 transition duration-200">blog</p>
                    </a>        
                </div>
                <div class="w-full sm:col-span-3 md:col-span-2">
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>