---
import '@fontsource/inter'
import Snowflake from '../components/Snowflake.astro';

interface Props {
    title: string;
}
const { title } = Astro.props 
---

<html lang="en">
    <head>
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="icon" href="https://avatars.githubusercontent.com/u/41494790?v=4">
        <style is:global>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;

            @layer base {
                body {
                    @apply bg-neutral-800;
                    @apply text-neutral-200;
                    @apply font-inter;
                }
                a {
                    @apply text-blue-300;
                }
                a:hover {
                    @apply bg-blue-300;
                    @apply text-neutral-800;
                }
                a:active {
                    @apply bg-blue-300;
                    @apply text-neutral-800;
                }
            }
            @layer utilities {
                .no-scrollbar::-webkit-scrollbar {
                    display: none;
                }
                .no-scrollbar {
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                }
            }

            * {
                font-variant-ligatures: none;
            }
        </style>
    </head>
    <body>
        <Snowflake></Snowflake>
        <div class="flex justify-center">
            <div class="md:grid md:grid-cols-3 w-4/5 gap-6 h-screen">
                <!-- desktop navbar -->
                <div class="hidden md:flex items-center justify-center h-screen">
                    <div>
                        <a class="group flex items-center hover:bg-neutral-200 active:bg-neutral-200 p-1" href="/">
                            <p class="text-6xl text-neutral-200 group-hover:text-neutral-800 group-actve:text-neutral-800 font-medium">evan whelan</p>
                        </a>
                        <a class="group flex items-center hover:bg-neutral-200 active:bg-neutral-200 p-1" href="/projects">
                            <p class="text-3xl text-neutral-200 group-hover:text-neutral-800 group-actve:text-neutral-800">projects</p>
                        </a>
                        <a class="group flex items-center hover:bg-neutral-200 active:bg-neutral-200 p-1" href="/posts">
                            <p class="text-3xl text-neutral-200 group-hover:text-neutral-800 group-actve:text-neutral-800">blog</p>
                        </a>
                    </div>
                </div>
                <!-- mobile navbar -->
                <div class="md:hidden flex justify-evenly my-2">
                    <a class="group flex items-center hover:bg-neutral-200 active:bg-neutral-200" href="/">
                        <p class="text-4xl text-center text-neutral-200 group-hover:text-neutral-800 group-active:text-neutral-800 font-bold">evan whelan</p>
                    </a>
                </div>
                <div class="md:hidden flex justify-evenly my-2">
                    <a class="group flex items-center hover:bg-neutral-200 active:bg-neutral-200" href="/projects">
                        <p class="text-2xl text-center text-neutral-200 group-hover:text-neutral-800 group-active:text-neutral-800">projects</p>
                    </a>
                    <a class="group flex items-center hover:bg-neutral-200 active:bg-neutral-200" href="/posts">
                        <p class="text-2xl text-center text-neutral-200 group-hover:text-neutral-800 group-active:text-neutral-800">blog</p>
                    </a>
                </div>
                <div class="w-full md:col-start-2 md:col-span-2 flex items-center md:h-full">
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>