---
import Layout from "./Layout.astro";
import "katex/dist/katex.min.css";

const { frontmatter } = Astro.props;
---

<Layout title=`Evan Whelan - ${frontmatter.title}`>
    <div class="prose prose-base prose-invert my-10 overflow-hidden max-w-none w-full">
        <h1 class="mb-0">{frontmatter.title}</h1>
        <h4 class="mt-0 mb-8">{frontmatter.date}</h4>
        <slot />
    </div>
</Layout>